################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Azure/Azure-CosmoDb/bin/Debug/net5.0
/Azure/Azure-CosmoDb/obj
